body{
	background-attachment: fixed;
}

iframe{
	width: 100%;
}

.header{
	margin: 0 auto;
}

.titleimg{
	width: 0;
}

.titletxt{
	width: 100%;
}

.main{
	width: 100%;
	float: none;
	margin: 0 auto;
}

.main div{
     border-radius: 0;
     margin-bottom: 0;
}

.sidebar{
	width: 80%;
	margin: 0 auto;
	float: none;
}

